<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Catalogo</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <!--binding del dom al property del objeto
    [propiedadDelComponente]="valorDesdeElDOM"
    bind-propiedadDelComponente="valorDesdeElDOM"
    -->
    <mat-grid-list cols="4" [rowHeight]="'300px'" [gutterSize]="'10px'">
      <mat-grid-tile *ngFor="let item of items" (click) = "onSelect(item)">

        <img height="200px" src="{{item.image}}" alt="{{item.name}}" srcset="">
        <mat-grid-tile-footer>
          <h1 mat-line>{{item.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
</div>
  <app-item-detail [item] = "selectedItem"></app-item-detail>
